.contentWrapper {
    color: #fff;
    background: #4292E7;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .content {
      display: flex;
      /* justify-content: space-between; */
      flex-direction: column;
      /* text-align: center; */
      align-items: center;
  }